
    p{
        font-family: 'Roboto';

    }
    .video-title{
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        width: 300px;
        margin-bottom: 2px;
    }
    .views{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        margin-bottom: 16px;
        margin-top: 0;
    }
    .channel-name{
        margin-top: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }
    .description{
        width: 300px;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .span:hover{
        text-decoration: underline;
        cursor: pointer;
    }
    .apple{
        background-color: red;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
    }
    .Tahoma{
        font-family: Tahoma;
        font-weight: bold;
        font-size: 30px;
    }
    .Deals{
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }
    .Deals1{
        display: block;
        font-size: 30px;
        width: 400px;
    }
    .Deals2{
        display: block;
        font-size: 20px;
        font-style: italic;
        color: red;
    }
    .course{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .course1{
        display: block;
        font-weight: bold;
        font-size:30px;
    }
    .course2{
        display: block;
        font-size: 20px;
        color: grey;
    }
    .course3{
        display: block;
        width: 350px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-weight: bold;
    }
    .course-button{
        background-color: green;
        color: white;
        padding: 10px;
        border: none;
        border-radius: 10px;
    }
    .Apple-at-work{
        font-family: arial;
        text-align: center;
    }
    .Apple-at-work1{
        display: block;
        font-weight: bold;
        font-size: 30px;
        padding-bottom: 20px;
    }
    .Apple-at-work2{
        display: block;
        font-weight: 500;
        font-size: 20px;
        padding-bottom: 20px;
    }
    .Apple-at-work3{
        display: block;
        color: blue;
    }
    .MacBook-pro{
        font-family: arial;
        text-align: center;
    }
    .MacBook-pro1{
        display: block;
        color: red;
        padding-bottom: 10px;
    }
    .MacBook-pro2{
        display: block;
        font-weight: bold;
        font-size: 25px;
        padding-bottom: 10px;

    }
    .MacBook-pro3{
        display: block;
        font-weight: bolder;
        font-size: 30px;
        padding-bottom: 10px;

    }
    .MacBook-pro4{
        display: block;
        padding-bottom: 10px;

    }
    .MacBook-pro-button{
        background-color: rgb(7, 175, 241);
        color: white;
        border-radius: 10px;
    }
    .stocks{
        font-family: arial;
        text-align: center;
        margin-bottom: 5px;
    }
    .stocks1{
        font-size: 30px;
        font-weight: bold;
    }
    .stocks2{
        font-size: 20px;
        color: gray;
    }
    .container{
        display: block;
        text-align: center;
    }
    .stocks3{
        font-size: 20px;
        color: green;
    }
    .margin-left{
      margin-left: 2px;
      color: green;
    }
    .stocks4{
        color: gray;
        font-size: 20px;
    }
    .stocks5{
        color: red;
        
    }
    
    


